<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">
    <global-method-security secured-annotations="enabled"/>
    <http pattern="/resources/**" security="none"/>
    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/" access="permitAll"/>
        <intercept-url pattern="/login" access="permitAll"/>
        <intercept-url pattern="/registration" access="permitAll"/>
        <intercept-url pattern="/register" access="permitAll"/>
        <intercept-url pattern="/j_spring_security_check" access="permitAll"/>
        <intercept-url pattern="/admin/**" access="hasRole('ADMIN')"/>
        <intercept-url pattern="/client/**" access="hasRole('CLIENT')"/>

        <form-login authentication-success-handler-ref="authSuccessHandler"
                login-processing-url="/j_spring_security_check"
                login-page="/login.jsp"
                authentication-failure-url="/login"
                username-parameter="j_username"
                password-parameter="j_password"
        />
        <csrf disabled="true"/>

    </http>
    <authentication-manager>
        <authentication-provider >
            <jdbc-user-service id="userService"
                               data-source-ref="dataSource"
                               users-by-username-query="select LOGIN, PASSWORD,TRUE from users where LOGIN=?"
                               authorities-by-username-query="select LOGIN, USER_ROLE from users where LOGIN=?"/>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="authSuccessHandler"
                class="com.pvtoc.utils.AuthSuccessHandler">
    </beans:bean>
</beans:beans>